<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All chats</h3>
<form method="get" action="/chats/new">
    <button>new chat</button>
</form>
<br>
    <% for(let chat of chats) {%>
        <div class="chat">
            <p>From:<%= chat.from %></p>
            <div class="msg">
                <p>Message:<%= chat.msg %></p>
            </div>
            <p>Recived by: <%= chat.to %></p>
        </div>
        <% } %>
</body>
</html>