<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write chat</title>
    <style>
        .newForm form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: gray;
    padding: 1rem;
}
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="newForm">
        
        <form method="post" action="/chats">
            <input placeholder="who are you?" name="from"/>
            <textarea name="msg" id=""> write your message here...</textarea>
            <input placeholder="reciver" name="to"/> 
            <button>summit</button>
        </form>
    </div>
</body>
</html>