<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Content</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="mainEdit">

        <h2>Edit your post</h2>
        <p class="idEdit">Post id: <%= post.id  %> </p>
        <p class="usernameEdit">Post username: <%= post.username  %></p>
        <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
            
            <textarea name="content"  cols="30" rows="10"><%=post.content %></textarea>
            <button type="submit" class="submitEdit">submit</button>
        </form>
    </div>
</body>
</html>