<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit users</title>
    <style>
        body{
            width: 100%;
            height: 100vh;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 50%;

        }

        form textarea{
            height: 100px;
        }
        form input{
            border: 1px solid black;
            padding: 0.5rem;
            margin: 1rem 0rem;
        }
    </style>
</head>
<body>
    <h1> Edit your username:<%=user.email  %></h1>

    <form method="post" action="/user/<%=user.id%>?_method=PATCH">
        <textarea name="username" id=""><%= user.username %></textarea>
        <input type="password" name="password" placeholder="enter password">
        <button>Edit</button>
    </form>
</body>
</html>