body{
 
 
 display: flex;
flex-direction: column;

}

.post{
    height: 150px;
    width: 200px;
    background-color: rgb(225, 150, 150);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;

}

.user{
    color: white;
}

.content{
    color: #fff;
    
}


/* for new */

form{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainButton{
    padding: 1rem;
    background-color: rgb(226, 226, 174);
    color: rgb(203, 203, 164);
    text-decoration: none;
}

 