<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>dice gave value: <%= Math.floor(Math.random()*6) +1 %> 
    </h1> -->
    <h1>dice gave value: <%=  num  %> 
    </h1>


    <!-- for conditional statement use if 6 then repeat -->
<% if(num ==6 ){ %>
    <h2>Nice ! Roll dice agin.</h2>
    <% } %>

</body>
</html>